@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
div,
span {
  /* font-family: "Outfit", sans-serif; */
  line-height: 1.1;
  letter-spacing: 0;
}

/* h1 {
      font-weight: 600; 
      font-size: 100px; 
} */
/* styles/globals.css */

@layer components {
  h3 {
    @apply text-2xl font-semibold leading-tight;
  }

  @screen sm {
    h3 {
      @apply text-lg;
    }
  }
}

footer {
  @apply text-lg text-center sm:text-base;
}

#about {
  position: relative; /* 确保内部绝对定位元素以 #about 为基准 */
}

#about .circle {
  position: absolute;

  width: 40px;
  height: 40px;
  border: 3px solid #feb20f; /* 边框颜色 */
  border-radius: 50%; /* 圆形 */
  background-color: white; /* 内部白色 */
  transform: translateX(-50%); /* 完全水平居中 */
}

.triangle-container {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle-container {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 87px solid white; /* 这个值决定了三角形的高度和颜色 */
  position: relative;
}

.triangle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -50px;
  width: 0;
  height: 0;
  border-left: 47px solid transparent;
  border-right: 47px solid transparent;
  border-bottom: 82px solid orange; /* 外边框的颜色 */
}

/* .triangle,
.triangle-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  border-top-right-radius: 30%;
  background-color: orange;
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}

.triangle-2 {
  width: 30px;
  height: 30px;
  background-color: white;
}

.triangle:before,
.triangle:after,
.triangle-2:before,
.triangle-2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-right-radius: 30%;
  background-color: inherit;
}

.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}

.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

.triangle-2:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}

.triangle-2:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
} */
